.wrapper {
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.inner {
	height: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.container {
	height: 100%;
	max-width: 1470px;
	padding: 0 20px;
	margin: 0 auto;
}