.wrapper {
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.content {
	height: 100%;
	margin: 0 auto;
	max-width: 1600px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main {
	flex: 1 1 auto;
}

.container {
	height: 100%;
	width: 1450px;
	padding: 0 10px;
	margin: 0 auto;
}