@use "../../common";

.blueprints {
	width: 1620px;
	position: relative;
	margin-bottom: 95px;

	&::before {
		position: absolute;
		content: "";
		display: block;
		width: 1620px;
		height: 1px;
		bottom: 0px;
		left: -0px;
		background-color: common.$color-secondary11;
	}

	&__items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__item {
		padding: 72px 80px 67px 80px;
		width: 399px;
		height: 570px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		border-right: 1px solid common.$color-secondary11;

		&:last-child {
			border-right: none;
		}
	}

	&__item-img-mb34 {
		margin-bottom: 34px;
	}
	
	&__item-img-mb19 {
		margin-bottom: 34px;
		img {
			width: 240px;
			height: 240px;
		}
	}

	&__item-title {
		margin-bottom: 24px;
		h2 {
			font-weight: 500;
			font-size: 24px;
			line-height: 125%;
			text-align: center;
		}
	}

	&__item-rate {
		width: 161px;
		height: 50px;
		padding-top: 13px;
		padding-bottom: 12px;
		margin-bottom: 20px;
		border: 1px solid common.$color-secondary11;
		border-radius: 3px;
		text-align: center;

		span {
			font-weight: 500;
			font-size: 18px;
			line-height: 139%;
		}
	}

	&__item-btn {
		width: 245px;
		height: 50px;
	}

	&__item-link {
		@extend .button-primary4;
	}
}