@use "../../common";

.title-header {
	position: relative;
	padding: 40px 0px 60px;

	&::before {
		position: absolute;
		content: "";
		display: block;
		width: 1620px;
		height: 1px;
		bottom: 0px;
		left: -95px;
		background-color: common.$color-secondary11;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__icon-link {
		margin-bottom: 15px;
	}

	&__link-icon {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	&__icon-svg {
		&:hover {
			path {
				fill: common.$color-primary1;
			}
		}
	}

	&__title {
		h1 {
			@extend .title-h1;
		}
	}
}