$color-base1: #000000;
$color-base2: #ffffff;

$color-primary1: #00AC78;
$color-primary2: #EFEBDE;
$color-primary3: #17181D;
$color-primary4: #A98567;

$color-secondary1: #3A3C44;
$color-secondary2: #FFF4DE;
$color-secondary3: #BFBCB2;
$color-secondary4: #CCCCCC;
$color-secondary5: #04D999;
$color-secondary6: #626262;
$color-secondary7: rgba(255, 255, 255, 0.5);
$color-secondary8: rgba(169, 133, 103, 0.5);
$color-secondary9: rgba(169, 133, 103, 0.3);
$color-secondary10: rgba(147, 127, 111, 0.3);  /* 937f6f*/
$color-secondary11: rgba(0, 0, 0, 0.2);
$color-secondary12: rgba(0, 0, 0, 0.5);
$color-secondary13: rgba(0, 0, 0, 0.25);